In [ ]:
# Import findspark and initialize. 
import findspark
findspark.init()

In [1]:
# Import packages
from pyspark.sql import SparkSession
import time

# Create a SparkSession
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

In [2]:
# 1. Read in the AWS S3 bucket into a DataFrame.
from pyspark import SparkFiles
url = "home_sales_revised.csv"

home_sales=spark.read.format('csv').option("header","true").load(url)

In [3]:
home_sales.show(5)

+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|                  id|      date|date_built| price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|f8a53099-ba1c-47d...|2022-04-08|      2016|936923|       4|        3|       3167|   11733|     2|         1|  76|
|7530a2d8-1ae3-451...|2021-06-13|      2013|379628|       2|        2|       2235|   14384|     1|         0|  23|
|43de979c-0bf0-4c9...|2019-04-12|      2014|417866|       2|        2|       2127|   10575|     2|         0|   0|
|b672c137-b88c-48b...|2019-10-16|      2016|239895|       2|        2|       1631|   11149|     2|         0|   0|
|e0726d4d-d595-407...|2022-01-08|      2017|424418|       3|        2|       2249|   13878|     2|         0|   4|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
only showing top 5 rows

In [17]:
home_sales.toPandas().head()

,id,date,date_built,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view
0,f8a53099-ba1c-47d6-9c31-7398aa8f6089,2022-04-08,2016,936923,4,3,3167,11733,2,1,76
1,7530a2d8-1ae3-4517-9f4a-befe060c4353,2021-06-13,2013,379628,2,2,2235,14384,1,0,23
2,43de979c-0bf0-4c9f-85ef-96dc27b258d5,2019-04-12,2014,417866,2,2,2127,10575,2,0,0
3,b672c137-b88c-48bf-9f18-d0a4ac62fb8b,2019-10-16,2016,239895,2,2,1631,11149,2,0,0
4,e0726d4d-d595-4074-8283-4139a54d0d63,2022-01-08,2017,424418,3,2,2249,13878,2,0,4

In [6]:
# 2. Create a temporary view of the DataFrame.

home_sales.createOrReplaceTempView("home_sales")

In [6]:
# 3. What is the average price for a four bedroom house sold in each year rounded to two decimal places?

spark.sql("""
    select year(date) as sold_year,round(avg(price),2) as avg_price
    from home_sales
    where bedrooms=4    
    group by year(date)
    order by year(date)
;
""").toPandas()

   sold_year  avg_price
0       2019  300263.70
1       2020  298353.78
2       2021  301819.44
3       2022  296363.88

In [7]:
# 4. What is the average price of a home for each year the home was built that have 3 bedrooms and 3 bathrooms rounded to two decimal places?

spark.sql("""
    select date_built,round(avg(price),2) as avg_price
    from home_sales
    where bedrooms=3
    and bathrooms=3
    group by date_built
    order by date_built
;
""").toPandas()

  date_built  avg_price
0       2010  292859.62
1       2011  291117.47
2       2012  293683.19
3       2013  295962.27
4       2014  290852.27
5       2015  288770.30
6       2016  290555.07
7       2017  292676.79

In [10]:
#  5. What is the average price of a home for each year built that have 3 bedrooms, 3 bathrooms, with two floors,
# and are greater than or equal to 2,000 square feet rounded to two decimal places?

spark.sql("""
    select date_built,round(avg(price),2) as avg_price
    from home_sales
    where bedrooms=3
    and bathrooms=3
    and floors=2
    and sqft_living>=2000
    group by date_built
    order by date_built
;
""").toPandas()

  date_built  avg_price
0       2010  285010.22
1       2011  276553.81
2       2012  307539.97
3       2013  303676.79
4       2014  298264.72
5       2015  297609.97
6       2016  293965.10
7       2017  280317.58

In [4]:
home_sales.show()

+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|                  id|      date|date_built| price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|f8a53099-ba1c-47d...|2022-04-08|      2016|936923|       4|        3|       3167|   11733|     2|         1|  76|
|7530a2d8-1ae3-451...|2021-06-13|      2013|379628|       2|        2|       2235|   14384|     1|         0|  23|
|43de979c-0bf0-4c9...|2019-04-12|      2014|417866|       2|        2|       2127|   10575|     2|         0|   0|
|b672c137-b88c-48b...|2019-10-16|      2016|239895|       2|        2|       1631|   11149|     2|         0|   0|
|e0726d4d-d595-407...|2022-01-08|      2017|424418|       3|        2|       2249|   13878|     2|         0|   4|
|5aa00529-0533-46b...|2019-01-30|      2017|218712|       2|        3|       1965|   14375|     2|         0|   7|
|131492a1-72e2-4a8...|2020-02-08|      2017|419199|       2|        3|       2062|    8876|     2|         0|   6|
|8d54a71b-c520-44e...|2019-07-21|      2010|323956|       2|        3|       1506|   11816|     1|         0|  25|
|e81aacfe-17fe-46b...|2020-06-16|      2016|181925|       3|        3|       2137|   11709|     2|         0|  22|
|2ed8d509-7372-46d...|2021-08-06|      2015|258710|       3|        3|       1918|    9666|     1|         0|  25|
|f876d86f-3c9f-42b...|2019-02-27|      2011|167864|       3|        3|       2471|   13924|     2|         0|  15|
|0a2bd445-8508-4d8...|2021-12-30|      2014|337527|       2|        3|       1926|   12556|     1|         0|  23|
|941bad30-eb49-4a7...|2020-05-09|      2015|229896|       3|        3|       2197|    8641|     1|         0|   3|
|dd61eb34-6589-4c0...|2021-07-25|      2016|210247|       3|        2|       1672|   11986|     2|         0|  28|
|f1e4cef7-d151-439...|2019-02-01|      2011|398667|       2|        3|       2331|   11356|     1|         0|   7|
|ea620c7b-c2f7-4c6...|2021-05-31|      2011|437958|       3|        3|       2356|   11052|     1|         0|  26|
|f233cb41-6f33-4b0...|2021-07-18|      2016|437375|       4|        3|       1704|   11721|     2|         0|  34|
|c797ca12-52cd-4b1...|2019-06-08|      2015|288650|       2|        3|       2100|   10419|     2|         0|   7|
|0cfe57f3-28c2-472...|2019-10-04|      2015|308313|       3|        3|       1960|    9453|     2|         0|   2|
|4566cd2a-ac6e-435...|2019-07-15|      2016|177541|       3|        3|       2130|   10517|     2|         0|  25|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
only showing top 20 rows

In [10]:
# 6. What is the "view" rating for the average price of a home, rounded to two decimal places, where the homes are greater than
# or equal to $350,000? Although this is a small dataset, determine the run time for this query.

start_time = time.time()

result = spark.sql("""
    select view,round(avg(price),2) as avg_price
    from home_sales
    group by view
    having avg_price>=350000
;
""").toPandas()
display(result)

print("--- %s seconds ---" % (time.time() - start_time))
print("--- %s seconds ---" % round((time.time() - start_time),2))

   view   avg_price
0    51   788128.21
1    54   798684.82
2    69   750537.94
3    87  1072285.20
4    73   752861.18
5    64   767036.67
6    59   791453.00
7    85  1056336.74
8    52   733780.26
9    71   775651.10
10   98  1053739.33
11   99  1061201.42
12   96  1017815.92
13  100  1026669.50
14   70   695865.58
15   61   746877.59
16   75  1114042.94
17   78  1080649.37
18   89  1107839.15
19   77  1076205.56
20   90  1062654.16
21   68   716785.44
22   60   754939.65
23   55   771153.32
24   93  1026006.06
25   95  1054325.60
26   82  1063498.00
27   53   755214.80
28   92   970402.55
29   86  1070444.25
30   58   759764.65
31   81  1053472.79
32   97  1129040.15
33   67   737970.96
34   84  1117233.13
35   79  1009565.08
36   88  1031719.35
37   56   718176.40
38   63   711614.55
39   65   736679.93
40   62   759150.14
41   83  1033965.93
42   66   712475.00
43   91  1137372.73
44   94  1033536.20
45   74   745077.00
46   72   780914.67
47   76  1058802.78
48   80   991767.38
49   57   734340.50

--- 0.28221940994262695 seconds ---
--- 0.28 seconds ---

In [11]:
# 7. Cache the the temporary table home_sales.

home_sales.cache()

DataFrame[id: string, date: string, date_built: string, price: string, bedrooms: string, bathrooms: string, sqft_living: string, sqft_lot: string, floors: string, waterfront: string, view: string]

In [14]:
# 8. Check if the table is cached.
spark.catalog.isCached('home_sales')

True

In [16]:
# 9. Using the cached data, run the query that filters out the view ratings with average price 
#  greater than or equal to $350,000. Determine the runtime and compare it to uncached runtime.

start_time = time.time()

result = spark.sql("""
    select view,round(avg(price),2) as avg_price
    from home_sales
    group by view
    having avg_price>=350000
;
""").toPandas()
display(result)

print("--- %s seconds ---" % (time.time() - start_time))

   view   avg_price
0    51   788128.21
1    54   798684.82
2    69   750537.94
3    87  1072285.20
4    73   752861.18
5    64   767036.67
6    59   791453.00
7    85  1056336.74
8    52   733780.26
9    71   775651.10
10   98  1053739.33
11   99  1061201.42
12   96  1017815.92
13  100  1026669.50
14   70   695865.58
15   61   746877.59
16   75  1114042.94
17   78  1080649.37
18   89  1107839.15
19   77  1076205.56
20   90  1062654.16
21   68   716785.44
22   60   754939.65
23   55   771153.32
24   93  1026006.06
25   95  1054325.60
26   82  1063498.00
27   53   755214.80
28   92   970402.55
29   86  1070444.25
30   58   759764.65
31   81  1053472.79
32   97  1129040.15
33   67   737970.96
34   84  1117233.13
35   79  1009565.08
36   88  1031719.35
37   56   718176.40
38   63   711614.55
39   65   736679.93
40   62   759150.14
41   83  1033965.93
42   66   712475.00
43   91  1137372.73
44   94  1033536.20
45   74   745077.00
46   72   780914.67
47   76  1058802.78
48   80   991767.38
49   57   734340.50

--- 0.1730031967163086 seconds ---

In [34]:
# 10. Partition by the "date_built" field on the formatted parquet home sales data 

home_sales.write.partitionBy('date_built').format('parquet').mode("overwrite").save("date_built_parquet")

In [17]:
# 11. Read the formatted parquet data.

home_sales=spark.read.parquet('date_built_parquet')
home_sales.show(2)

+--------------------+----------+------+--------+---------+-----------+--------+------+----------+----+----------+
|                  id|      date| price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|date_built|
+--------------------+----------+------+--------+---------+-----------+--------+------+----------+----+----------+
|2ed8d509-7372-46d...|2021-08-06|258710|       3|        3|       1918|    9666|     1|         0|  25|      2015|
|941bad30-eb49-4a7...|2020-05-09|229896|       3|        3|       2197|    8641|     1|         0|   3|      2015|
+--------------------+----------+------+--------+---------+-----------+--------+------+----------+----+----------+
only showing top 2 rows

In [18]:
# 12. Create a temporary table for the parquet data.

home_sales.createOrReplaceTempView('home_sales')

In [19]:
# 13. Run the query that filters out the view ratings with average price of greater than or eqaul to $350,000 
# with the parquet DataFrame. Round your average to two decimal places. 
# Determine the runtime and compare it to the cached version. 

start_time = time.time()

result = spark.sql("""
    select view,round(avg(price),2) as avg_price
    from home_sales
    group by view
    having avg_price>=350000
;
""").toPandas()
display(result)


print("--- %s seconds ---" % (time.time() - start_time))

   view   avg_price
0    51   788128.21
1    54   798684.82
2    73   752861.18
3    87  1072285.20
4    64   767036.67
5    59   791453.00
6    85  1056336.74
7    52   733780.26
8    71   775651.10
9    98  1053739.33
10   99  1061201.42
11   96  1017815.92
12  100  1026669.50
13   70   695865.58
14   61   746877.59
15   75  1114042.94
16   78  1080649.37
17   89  1107839.15
18   77  1076205.56
19   90  1062654.16
20   68   716785.44
21   60   754939.65
22   55   771153.32
23   93  1026006.06
24   95  1054325.60
25   82  1063498.00
26   53   755214.80
27   92   970402.55
28   86  1070444.25
29   58   759764.65
30   81  1053472.79
31   97  1129040.15
32   67   737970.96
33   84  1117233.13
34   79  1009565.08
35   88  1031719.35
36   56   718176.40
37   65   736679.93
38   62   759150.14
39   83  1033965.93
40   66   712475.00
41   91  1137372.73
42   94  1033536.20
43   74   745077.00
44   72   780914.67
45   76  1058802.78
46   80   991767.38
47   57   734340.50
48   69   750537.94
49   63   711614.55

--- 0.3470034599304199 seconds ---

In [37]:
# 14. Uncache the home_sales temporary table.

home_sales.unpersist()

DataFrame[id: string, date: string, price: string, bedrooms: string, bathrooms: string, sqft_living: string, sqft_lot: string, floors: string, waterfront: string, view: string, date_built: int]

In [38]:
# 15. Check if the home_sales is no longer cached

spark.catalog.isCached('home_sales')

False